@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="~/Assets/img/index-img.jpg" class="img-fluid" />
</div>

<div class="text-center pt-5">
    <p>
        SpoTalent recruitment Ltd. is your brilliant helper in finding the best talent for you. We are here to deliver the best services and to ensure your expectations are met.
        We clean houses, flats, offices, hotels, event venues, universities, restaurants, manufacturing facilities and many more. We can clean any building or property, while meeting the highest standards in the cleaning industry.
    </p>
    <p>
        Cleaning is not rocket science, but cleaning to our five-star standards 24 hours a day, 365 days a year isn't far off. It takes planning, excellent management, training and total commitment.
        We have ample capacity to meet any client-specific demands and look forward to the opportunity to surpass expectations at every chance.
    </p>
</div>
