@{
    ViewData["Title"] = "Contact Us";
}


<div class="text-center">
    <img src="~/Assets/img/contact-us-img.jpg" class="img-fluid" />
</div>

<div class="text-center pt-3 pb-3">
    <h2>Contact Information</h2>
</div>


<dl class="row">
    <dt class="col-sm-3">
        <i class="fa-solid fa-location-dot"></i>
    </dt>
    <dd class="col-sm-9">3 Wallis walk, E16 2XX, London</dd>

    <dt class="col-sm-3"><i class="fa-solid fa-at"></i></dt>
    <dd class="col-sm-9">office@spotalent.co.uk</dd>

    <dt class="col-sm-3"><i class="fa-solid fa-clock"></i></dt>
    <dd class="col-sm-9">9 AM - 8 PM</dd>

    <dt class="col-sm-3"><i class="fa-brands fa-facebook"></i></dt>
    <dd class="col-sm-9">facebook.com/spotalent</dd>

</dl>


