@{
    ViewData["Title"] = "Recruitment";
}

<div class="text-center">
    <img src="~/Assets/img/recruitment-img.jpg" class="img-fluid" />
</div>

<div class="text-center pt-3 pb-3">
    <h2>We recruit for</h2>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-3">Office cleaning</dt>
        <dd class="col-sm-9">
            <ul style="list-style-type:none">
                <li>
                    Having a clean workplace is a vital for proper work process. We are going to make sure that your office, store, etc. looks spotless and is in perfect condition.
                </li>
            </ul>
        </dd>

        <dt class="col-sm-3">Hospitality business - Housekeeping</dt>
        <dd class="col-sm-9">
            <ul style="list-style-type:none">
                <li>
                    Room attendants
                </li>
                <li>
                    Linen porters
                </li>
                <li>
                    Supervisors
                </li>
                <li>
                    Office coordinators
                </li>
                <li>
                    Public area cleaners
                </li>
                <li>
                    Cloakroom attendants
                </li>
            </ul>
        </dd>

        <dt class="col-sm-3">Hospitality business - Front of House</dt>
        <dd class="col-sm-9">
            <ul style="list-style-type:none">
                <li>
                    Luggage porters
                </li>
                <li>
                    Receptionists
                </li>
                <li>
                    Concierge
                </li>
                <li>
                    Doorman
                </li>
            </ul>
        </dd>
    </dl>
</div>

<div>
    <p>If you think you are the right person for us, please do not hesitate to contact us at any time. You can find our contact details on our Contact page and you can chose your prefered way of getting in touch with us.</p>
</div>


