@{
    ViewData["Title"] = "Services";
}


<div class="text-center">
    <img src="~/Assets/img/services-logo-img.png" class="img-fluid"/>
</div>

<div class="text-center pt-3 pb-3">
    <h2>Our Range of Services</h2>
</div>

<article>
    <p>We always aim to provide excellent services according to out customers' needs, that's why each contract is tailored to your individual needs.</p>
</article>

<article>
    <p>
        The types of service we provide
    </p>
    <div>
        <dl class="row">
            <dt class="col-sm-3">Residential cleaning</dt>
            <dd class="col-sm-9">
                <ul style="list-style-type:none">
                    <li>
                        Regular or one off cleaning service
                    </li>
                    <li>
                        End of tenancy cleaning
                    </li>
                    <li>
                        Deep cleaning
                    </li>
                    <li>
                        Sanitising
                    </li>
                </ul>
            </dd>

            <dt class="col-sm-3">Office cleaning</dt>
            <dd class="col-sm-9">
                <ul style="list-style-type:none">
                    <li>
                        Rubbish removal
                    </li>
                    <li>
                        Hoovering
                    </li>
                    <li>
                        Dusting
                    </li>
                    <li>
                        Toilets cleaning
                    </li>
                    <li>
                        Washing cups and dishes
                    </li>
                </ul>
            </dd>

            <dt class="col-sm-3">Construction cleaning</dt>
            <dd class="col-sm-9"></dd>

            <dt class="col-sm-3">Seasonal cleaning</dt>
            <dd class="col-sm-9"></dd>

            <dt class="col-sm-3">Commercial cleaning</dt>
            <dd class="col-sm-9"></dd>

            <dt class="col-sm-3">Deep cleaning</dt>
            <dd class="col-sm-9">
                <ul style="list-style-type:none">
                    <li>
                        Thoroughly cleaning of the whole property
                    </li>
                </ul>
            </dd>

            <dt class="col-sm-3">Hospitality business housekeeping</dt>
            <dd class="col-sm-9">
                <ul style="list-style-type:none">
                    <li>
                        Room attendants
                    </li>
                    <li>
                        Public area attendants
                    </li>
                    <li>
                        Floor porters
                    </li>
                    <li>
                        Linen porters
                    </li>
                    <li>
                        Floor supervisors
                    </li>
                    <li>
                        Office coordinators
                    </li>
                </ul>
            </dd>


        </dl>
    </div>
</article>
