@{
    ViewData["Title"] = "About Us";
}


<div class="text-center">
    <img src="~/Assets/img/about-us-img.jpg" class="img-fluid" />
</div>

<div class="text-center pt-3 pb-3">
    <h2>About Us</h2>
</div>

<p>
    We know that the correct staff selection is fundamental for every business. That's what we are here for – to find the perfect talent who will match your specific needs. We have training rooms for Housekeeping and Front of House staff to increase their work skills and attitude. Our training programmes are designed around two important things – enhancing your business and building careers.
</p>

<div>
    <h4 class="fw-semibold">
        Company Objective
    </h4>

    <p class="text-justify">
        By 2025, our objective is to become one of London's most independent hotel support companies, constantly profitable recognised as an employer of choice and renowned for imaginative, innovative and quality service solutions delivered with enthusiasm and integrity by a talented and motivated workforce.
    </p>
</div>

<div>
    <h4 class="fw-semibold">
        A little more about us
    </h4>

    <p class="text-justify">
        SpoTalent Recruitment and support services were established 2018 and is a currently existing company, encompassing all of the values of a family-feel business with Lyudmila and Desi, contributing with a combined knowledge of over 25 years of experience in hospitality cleaning industry.
    </p>
    <p class="text-justify">
        All our housekeeping knowledge, customer service and experience are collected from London's leading hotels such as <a href="https://www.thesavoylondon.com/" alt="Savoy" style="text-decoration: none">Savoy</a>, <a href="https://www.rosewoodhotels.com/en/london" alt="Rosewood" style="text-decoration: none">Rosewood</a>, <a href="https://thehoxton.com/" alt="Hoxton" style="text-decoration: none">Hoxton</a> and many more.
    </p>
    <p class="text-justify">
        Our services are custom tailored to fit individual business needs. We offer wide range of housekeeping industry - from full outsourcing to agency style provision, from temporary employees to a permanently assigned team that integrates with your own employees. We also recruit employees to work in other hotel departments.
    </p>
    <p class="text-justify">
        Our company is customer driven with proactive attitude to service delivery. We aim to provide consistent high specification cleaning and support services.
    </p>
    <p class="text-justify">
        Spotalent Recruitment commits to cleaning excellence value and personal care. We understand the need to continually evolve with a consistently changing and demanding market. We value quality, value for money and investment of people.
    </p>
    <p class="text-justify">
        In our staff we value professionalism, reliability, trustworthiness and leadership, positive attitude, flexibility and initiative. Our operatives are all provided with full induction training including COSHH, Health and Safety procedures with information for all cleaning products, machinery and procedures used on your site.
    </p>
</div>

<div>
    <h4 class="fw-semibold">
        Our Values
    </h4>
    <p style="margin-bottom: 0">
        Skill
    </p>
    <p style="margin-bottom: 0">
        Pride
    </p>
    <p style="margin-bottom: 0">
        Outperformance
    </p>
    <p style="margin-bottom: 0">
        Talent
    </p>
</div>

